  .navbar-nav {
    font-family: Comfortaa;
    font-weight: bold;
  }

.loader-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loader-content {
	left: 44%;
	top: 30%;
	position: absolute;
}

.display-none {
	display: none;
}

.player-info-container {
    border: 1px solid #c3c3c3;
    border-radius: 18px;
}

.home-text {
    font-family: Raleway;
    font-weight: bold;
    font-size:23px;
    background: #dedede;
    padding: 40px;
    border: 1px solid #bdbcbc;
    border-radius: 3px;
  }
